a {
  font-size: 25px;
  font-weight: 200;
  margin-left: 20px;
}

.content-container{
  width: 100%;
  height: 100vh;


  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #d0021b;
  background-image:
  radial-gradient(at 47% 33%, hsl(212.37, 72%, 59%) 0, transparent 59%),
  radial-gradient(at 82% 65%, hsl(212.37, 0%, 0%) 0, transparent 55%);
}

.content-cover > img {
  border: 3px solid rgb(144, 144,144);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;

}

.content-title{
  margin-top: 30px;
}

.content-description{
  margin-top: 15px;
}

.content-description > p {
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
}
